h1 {
    
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100cm;
    text-align: center;
    
 }

 .espacio{
     background-image: url(./src/headerr2.jpg);
     padding-top: 200px;
     padding-bottom: 200px;
 }